/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  /*background-image: linear-gradient(to bottom, #ffb3b3, #e6e6e, #b3b3ff); */
  /*background-image: repeating-linear-gradient(-10deg, white, white 75px, #88B5FB 75px, #E65733, #88B5FB 150px);*/
  background: radial-gradient(white, #88B5FB);
  background: -webkit-radial-gradient(white, #88B5FB);
  background: -moz-radial-gradient(white, #88B5FB);
  background: -o-radial-gradient(white, #88B5FB);
  background: -ms-radial-gradient(white, #88B5FB);
  background-attachment: fixed;

  overflow-x:hidden;
  overflow-y:auto;

  height: 100em;
  max-width: 100%;
  position: center;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.map-container {
  /*width: 800px; */
  height: 550px;
  width: 100%;
  position: center;
  margin: 0 auto 0 auto;   
}

.caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
    text-align: center;

}

.row img {
    margin: 0 auto;
}

header {
  background: transparent;
  /*background-image: linear-gradient(to bottom, #b3b3ff, #8080ff 100%);*/
  padding: 20px 15px 15px 15px;
  position: relative;
}

.myIframe {
    display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}

/**
 * Extra button extensions. Extends `.btn`.
 */
.btn-test {
  margin: 9%;
}

.navbar {
  position: relative;
  max-width: 100%;
  min-height: 0px;
  max-height: 100px;
  margin-bottom: 0px;

}


.center-justified {
  text-align: justify;
  margin: 0 auto;
  width: 30em;
}

.col-xs-1 {
  margin-bottom: 0%;
}

.btn-group-xs{
  margin: 0;
  position: center;
  margin-bottom: 0px;

  /*Step 3: Text Styles*/
  color: rgba(0, 0, 0, 0.55);
  text-align: center;
  text-decoration: none;
  font: bold 1em/15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-size: 85%;
}

.btn-group-xs:hover {
  text-decoration: none !important;
}

.btn-group-xs:onclick {
  text-decoration: none;
}

.btn-group-xs:visited {
  text-decoration: none;
}

.btn-group-xs:active {
  text-decoration: none;
}

.btn-group-xs:focus {
  text-decoration: none;
}






#login-buttons {
  display: block;
}

h1 {
  font-size: 8vw;
  text-align: center;
  display: inline;
  color: #2273f7; 
  text-shadow: black 0.1em 0.1em 0.3em
}

h2 {
 color: #033991;
 text-shadow: black 0.1em 0.1em 0.3em
}

h3 {
  text-align: justify;
  margin: 0 auto;
  width: 8em;


  /*Step 3: Text Styles*/
  color: rgba(0, 0, 0, 0.55);
  bottom: 8px;
  font: bold 1em/15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.inner{
  display: inline-block;
  margin:-15; padding:0;
}


ul {

  background: radial-gradient(white, #88B5FB);;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
}


header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}
