/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  /*background-image: linear-gradient(to bottom, #ffb3b3, #e6e6e, #b3b3ff); */
  /*background-image: repeating-linear-gradient(-10deg, white, white 75px, #88B5FB 75px, #E65733, #88B5FB 150px);*/
  background: radial-gradient(white, #88B5FB);
  background: -webkit-radial-gradient(white, #88B5FB);
  background: -moz-radial-gradient(white, #88B5FB);
  background: -o-radial-gradient(white, #88B5FB);
  background: -ms-radial-gradient(white, #88B5FB);
  background-attachment: fixed;

  overflow-x:hidden;

  height: 100%;
  max-width: 100%;
  position: center;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.map-container {
  /*width: 800px; */
  max-width: 95%;
  position: center;
  margin: 0 auto 0 auto;
  max-height: 75%;
  height: 300px; 
}


/*.list-group {
  max-width: 95%
  position: center;
}*/

header {
  background: transparent;
  /*background-image: linear-gradient(to bottom, #b3b3ff, #8080ff 100%);*/
  padding: 20px 15px 15px 15px;
  position: relative;
}

.myIframe {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto 0 auto;
  overflow: hidden;
}

/**
 * Extra button extensions. Extends `.btn`.
 */
.btn-test {
  margin: 9%;
}


.button {
  /*Step 2: Basic Button Styles*/
  height: 80px;
  width: 80px;
  margin: 20px;
  text-align: center;

  
  /*Step 3: Text Styles*/
  color: rgba(0, 0, 0, 0.55);
  bottom: 8px;
  font: bold 1em/15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-size: 75%;

}

.center-justified {
  text-align: justify;
  margin: 0 auto;
  width: 30em;
}

.col-xs-1 {
  margin-bottom: 0%;
}

.btn-group-xs{
  margin: 9%;
  position: center;
  margin-bottom: 0px;


  display: block;

  /*Step 3: Text Styles*/
  color: rgba(0, 0, 0, 0.55);
  font: bold 1em/15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-size: 85%;
}

.navbar-inverse{
  /*background: repeating-linear-gradient(20deg, white 15px, #88B5FB 15px, #f36a58, #88B5FB 20px);*/
}



#login-buttons {
  display: block;
}

h1 {
  font-size: 8vw;
  text-align: center;
  display: inline;
  color: #2273f7; 
  text-shadow: black 0.1em 0.1em 0.3em
}

h2 {
 color: #033991;
 text-shadow: black 0.1em 0.1em 0.3em
}

h3 {
  text-align: justify;
  margin: 0 auto;
  width: 8em;


  /*Step 3: Text Styles*/
  color: rgba(0, 0, 0, 0.55);
  bottom: 8px;
  font: bold 1em/15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}


ul {

  background: radial-gradient(white, #88B5FB);;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}


header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}